In [1]:
import numpy as np
import pandas as pd

In [2]:
df_national = pd.read_csv('../data/2001-2019-National-Data.csv')
df_age = pd.read_csv('../data/2001-2019-National-Data-Age-Sex.csv')

In [4]:
df_national.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 40 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   Year                                                 19 non-null     int64
 1   Veteran Suicide Deaths                               19 non-null     int64
 2   Veteran Population Estimate                          19 non-null     int64
 3   Veteran Crude Rate per 100,000                       19 non-null     float64
 4   Veteran Age Adjusted Rate per 100,000                19 non-null     float64
 5   Veteran Age and Sex Adjusted Rate per 100,000        19 non-null     float64
 6   Male Veteran Suicide Deaths                          19 non-null     int64
 7   Male Veteran Population Estimate                     19 non-null     int64
 8   Male Veteran Crude Rate per 100,000                  19 non-null     float64
 9   Male Veteran Age Adjusted Rate per 100,000           19 non-null     float64
 10  Female Veteran Suicide Deaths                        19 non-null     int64
 11  Female Veteran Population Estimate                   19 non-null     int64
 12  Female Veteran Crude Rate per 100,000                19 non-null     float64
 13  Female Veteran Age Adjusted Rate per 100,000         19 non-null     float64
 14  Non-Veteran Suicide Deaths                           19 non-null     int64
 15  Non-Veteran Population Estimate                      19 non-null     int64
 16  Non-Veteran Crude Rate per 100,000                   19 non-null     float64
 17  Non-Veteran Age Adjusted Rate per 100,000            19 non-null     float64
 18  Non-Veteran Age and Sex Adjusted Rate per 100,000    19 non-null     float64
 19  Male Non-Veteran Suicide Deaths                      19 non-null     int64
 20  Male Non-Veteran Population Estimate                 19 non-null     int64
 21  Male Non-Veteran Crude Rate per 100,000              19 non-null     float64
 22  Male Non-Veteran Age Adjusted Rate per 100,000       19 non-null     float64
 23  Female Non-Veteran Suicide Deaths                    19 non-null     int64
 24  Female Non-Veteran Population Estimate               19 non-null     int64
 25  Female Non-Veteran Crude Rate per 100,000            19 non-null     float64
 26  Female Non-Veteran Age Adjusted Rate per 100,000     19 non-null     float64
 27  US Population Suicide Deaths                         19 non-null     int64
 28  US Population Population Estimate                    19 non-null     int64
 29  US Population Crude Rate per 100,000                 19 non-null     float64
 30  US Population Age Adjusted Rate per 100,000          19 non-null     float64
 31  US Population Age and Sex Adjusted Rate per 100,000  19 non-null     float64
 32  Male US Population Suicide Deaths                    19 non-null     int64
 33  Male US Population Population Estimate               19 non-null     int64
 34  Male US Population Crude Rate per 100,000            19 non-null     float64
 35  Male US Population Age Adjusted Rate per 100,000     19 non-null     float64
 36  Female US Population Suicide Deaths                  19 non-null     int64
 37  Female US Population Population Estimate             19 non-null     int64
 38  Female US Population Crude Rate per 100,000          19 non-null     float64
 39  Female US Population Age Adjusted Rate per 100,000   19 non-null     float64
dtypes: float64(21), int64(19)
memory usage: 6.1 KB

In [6]:
lst_keep_column = ['Year',
 'Veteran Suicide Deaths',
 'Veteran Population Estimate',
 'Veteran Crude Rate per 100,000',
 'Male Veteran Suicide Deaths',
 'Male Veteran Population Estimate',
 'Male Veteran Crude Rate per 100,000',
 'Female Veteran Suicide Deaths',
 'Female Veteran Population Estimate',
 'Female Veteran Crude Rate per 100,000',
 'Non-Veteran Suicide Deaths',
 'Non-Veteran Population Estimate',
 'Non-Veteran Crude Rate per 100,000',
 'US Population Suicide Deaths',
 'US Population Population Estimate',
 'US Population Crude Rate per 100,000']

In [7]:
df_national = df_national[lst_keep_column]

In [12]:
df_national.head(100)

,Year,Veteran Suicide Deaths,Veteran Population Estimate,"Veteran Crude Rate per 100,000",Male Veteran Suicide Deaths,Male Veteran Population Estimate,"Male Veteran Crude Rate per 100,000",Female Veteran Suicide Deaths,Female Veteran Population Estimate,"Female Veteran Crude Rate per 100,000",Non-Veteran Suicide Deaths,Non-Veteran Population Estimate,"Non-Veteran Crude Rate per 100,000",US Population Suicide Deaths,US Population Population Estimate,"US Population Crude Rate per 100,000"
0,2001,5989,25733000,23.3,5835,24112000,24.2,154,1621000,9.5,23591,186564780,12.6,29580,212297780,13.9
1,2002,6129,25398000,24.1,5995,23720000,25.3,134,1678000,8.0,24542,189290736,13.0,30671,214688736,14.3
2,2003,5981,24993000,23.9,5830,23288000,25.0,151,1705000,8.9,24578,192014175,12.8,30559,217007175,14.1
3,2004,5991,24756000,24.2,5822,23002000,25.3,169,1754000,9.6,25408,194751563,13.0,31399,219507563,14.3
4,2005,6112,24600000,24.8,5923,22757000,26.0,189,1843000,10.3,25498,197392930,12.9,31610,221992930,14.2
5,2006,6019,24117000,25.0,5845,22295000,26.2,174,1822000,9.5,26333,200505198,13.1,32352,224622198,14.4
6,2007,6232,23649000,26.4,6046,21871000,27.6,186,1778000,10.5,27522,203562802,13.5,33754,227211802,14.9
7,2008,6555,23333000,28.1,6346,21593000,29.4,209,1740000,12.0,28490,206656364,13.8,35045,229989364,15.2
8,2009,6506,22983000,28.3,6278,21203000,29.6,228,1780000,12.8,29333,209654362,14.0,35839,232637362,15.4
9,2010,6535,22752000,28.7,6302,20967000,30.1,233,1785000,13.1,30813,212449000,14.5,37348,235201000,15.9
10,2011,6437,22521000,28.6,6184,20694000,29.9,253,1827000,13.8,31942,215128350,14.8,38379,237649350,16.1
11,2012,6432,22193000,29.0,6193,20348000,30.4,239,1845000,13.0,32994,217941326,15.1,39426,240134326,16.4
12,2013,6497,22000000,29.5,6242,20127000,31.0,255,1873000,13.6,33397,220425013,15.2,39894,242425013,16.5
13,2014,6639,21666000,30.6,6345,19791000,32.1,294,1875000,15.7,34839,223071285,15.6,41478,244737285,16.9
14,2015,6613,21241000,31.1,6299,19331000,32.6,314,1910000,16.4,36177,225776112,16.0,42790,247017112,17.3
15,2016,6475,20863000,31.0,6178,18964000,32.6,297,1899000,15.6,36952,228428898,16.2,43427,249291898,17.4
16,2017,6761,20480000,33.0,6384,18543000,34.4,377,1937000,19.5,38629,230920193,16.7,45390,251400193,18.1
17,2018,6660,20166000,33.0,6324,18201000,34.7,336,1965000,17.1,39850,233202356,17.1,46510,253368356,18.4
18,2019,6261,19797000,31.6,5964,17805000,33.5,297,1992000,14.9,39600,235403373,16.8,45861,255200373,18.0

In [5]:
df_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95 entries, 0 to 94
Data columns (total 12 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Year                                   95 non-null     int64
 1   Age Group                              95 non-null     object
 2   Veteran Suicide Deaths                 95 non-null     int64
 3   Veteran Population Estimate            95 non-null     int64
 4   Veteran Crude Rate per 100,000         95 non-null     float64
 5   Male Veteran Suicide Deaths            95 non-null     int64
 6   Male Veteran Population Estimate       95 non-null     int64
 7   Male Veteran Crude Rate per 100,000    95 non-null     float64
 8   Age Group 2                            76 non-null     object
 9   Female Veteran Suicide Deaths          76 non-null     float64
 10  Female Veteran Population Estimate     76 non-null     float64
 11  Female Veteran Crude Rate per 100,000  76 non-null     float64
dtypes: float64(5), int64(5), object(2)
memory usage: 9.0+ KB

In [15]:
lst_keep_column_age = ['Year',
 'Age Group',
 'Veteran Suicide Deaths',
 'Veteran Population Estimate']

In [16]:
df_age = df_age[lst_keep_column_age]

In [18]:
df_age.head(10)

   Year Age Group  Veteran Suicide Deaths  Veteran Population Estimate
0  2001     18-34                     618                      2616000
1  2001     35-54                    2505                      8899000
2  2001     55-74                    1689                      9761000
3  2001       75+                    1174                      4457000
4  2001     Total                    5989                     25733000
5  2002     18-34                     589                      2504000
6  2002     35-54                    2433                      8470000
7  2002     55-74                    1818                      9816000
8  2002       75+                    1282                      4608000
9  2002     Total                    6129                     25398000